.buttons {
    display: flex;

    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 1rem;

    background-color: var(--white);

    .button {
        padding: .75rem 0;
        border: none;
        border-radius: .25rem;
        font-size: .85rem;
        font-weight: 700;
        background-color: unset;
    }

    .left-button {
        color: var(--white);
        margin-left: auto;
        width: 96px;
    }


    .go-back {
        color: var(--cool-gray);
    }

    .next-step {
        background-color: var(--marine-blue);
    }

    .confirm {
        background-color: var(--purplish-blue);
    }
}