.buttons {
    display: flex;

    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 1rem;

    background-color: var(--white);

    .go-back {
        font-weight: 700;
        color: var(--cool-gray);
        background-color: unset;
        font-size: .85rem;
        border: none;
    }

    .next-step {
        background-color: var(--marine-blue);

        border: none;
        font-size: .85rem;
        border-radius: .25rem;

        color: var(--white);

        padding: .75rem 1.125rem;
        margin-left: auto;
    }
}