.div-switchMode {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    padding: .875rem;
    background-color: var(--magnolia);
    border-radius: .25rem;
    margin-top: 1.5rem;


    .switch-label {
        font-size: .85rem;
        // letter-spacing: 1px;
        color: var(--cool-gray);
        font-weight: 700;

        &.active {
            color: var(--marine-blue);

        }
    }

    .switch {
        position: relative;
        display: flex;
        width: 38px;
        height: 20px;

        input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked+.slider:before {
                -webkit-transform: translateX(18px);
                -ms-transform: translateX(18px);
                transform: translateX(18px);
            }
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--marine-blue);
            -webkit-transition: .4s;
            transition: .4s;

            &::before {
                position: absolute;
                content: "";
                height: 12px;
                aspect-ratio: 1/1;
                left: 4px;
                bottom: 4px;
                background-color: var(--white);
                -webkit-transition: .4s;
                transition: .4s;
            }

            &.round {
                border-radius: 2rem;

                &::before {
                    border-radius: 50%;
                }
            }

        }
    }
}