.summary {
    // padding: 1rem;
    background-color: var(--alabaster);
    border-radius: .5rem;
    // gap: .75rem;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;

    .summary__plan {
        .summary__plan--link {
            color: var(--cool-gray);
            // text-decoration: dotted;
            // text-decoration-line: underline;
            text-decoration-thickness: 2px;
        }

        .summary__item--name {
            color: var(--marine-blue);
            font-weight: 700;
        }

        .summary__item--value {
            font-weight: 700;
        }
    }


    .summary__add-ons,
    .summary__plan {
        padding: .5rem 0;
    }

    &__item {
        display: flex;
        margin: .5rem 0;
        align-items: center;
        font-size: .85rem;
        // margin-top: 1rem;

        &--name {
            // font-size: 1rem;
            line-height: 1.5em;
        }

        &--value {
            display: inline-block;
            color: var(--marine-blue);
            font-weight: 500;
            margin-left: auto;
        }

    }
}

.div-total {
    // -top: 2rem;
    padding: 2rem 1rem 0;
    display: flex;

    p {
        font-weight: 500;
    }

    span {
        margin-left: auto;
        font-weight: 700;
        color: var(--purplish-blue);

    }
}